.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1em 2em;

  font-weight: $font-weight-bold;
  font-size: $font-size-base;
  text-decoration: none;
  text-transform: uppercase;
  color: $font-color-base;

  background-color: $bg-color-base;
  border: 2px solid $border-color;
  outline: none;

  transition: all 0.3s ease 0s;

  &:hover,
  &:focus {
    color: $font-color-btn--hover;
    background-color: $font-color-base;
  }

  &:active {
    color: $font-color-btn--active;
  }

  //.btn--wide
  &--wide {
    width: 100%;
  }

  //.btn--center
  &--center {
    display: flex;
    margin: 0 auto;
  }

  //.btn--green
  &--green {
    color: $color-light-1;
    background-color: $color-accent-1;
    border-color: $color-accent-1;

    &:hover,
    &:focus,
    &:active {
      color: $color-accent-1;
      background-color: $color-light-1;
    }
  }

  //.btn--cart
  &--cart {
    padding: 0;

    fill: $icon-color;
    background-color: $bg-color-base;
    border-color: transparent;

    &:hover,
    &:focus {
      fill: $icon-color--hover;
      background-color: $bg-color-base;
      border-color: transparent;
    }

    &:active {
      fill: $icon-color--active;
      background-color: $bg-color-base;
      border-color: transparent;
    }
  }
}
