.catalog-section {
  // .catalog__container
  &__container {
    padding-top: $container-padding;
    padding-bottom: $container-padding;
    @media #{$tablet} {
      padding-top: $container-padding-tab;
      padding-bottom: $container-padding-tab;
    }
  }
  // .catalog__list
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 30px;
    @media #{$tablet} {
      grid-template-columns: 1fr;
      gap: 50px;
    }
    @media #{$desktop} {
      grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
    }
  }
  // .catalog__item
  &__item {
  }
}
