.contacts {
  //.contacts__container
  &__container {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    overflow-x: hidden;

    @media #{$tablet} {
      padding-top: 50px;
      padding-bottom: 60px;
    }

    @media #{$desktop} {
      display: grid;
      grid-template-columns: 350px 1fr;
      grid-template-rows: repeat(5, min-content);
      padding-top: 70px;
      padding-bottom: 100px;
      padding-left: 175px;
    }
  }

  //.contacts__title
  &__title {
    position: relative;
    flex-basis: 100%;

    margin-bottom: 35px;

    @media #{$tablet} {
      margin-bottom: 45px;

      &::after {
        content: '';

        position: absolute;
        top: 50%;
        right: 0;

        display: block;
        width: 47px;
        height: 82px;

        background-image: url(../../img/backgrounds/flag.svg);

        transform: translateY(-50%);
      }
    }

    @media #{$desktop} {
      grid-row: 2;
      margin-bottom: 40px;

      &::after {
        left: -110px;
      }
    }
  }

  //.contacts__list
  &__list {
    flex-basis: 100%;
    margin-bottom: 540px;

    @media #{$tablet} {
      flex-basis: 100%;
      margin-bottom: 570px;
    }

    @media #{$desktop} {
      grid-row: 3;
      margin-bottom: 80px;
    }
  }

  //.contacts__map
  &__map {
    position: absolute;
    bottom: 96px;
    left: 0;

    width: 100%;
    height: 460px;
    margin-bottom: 40px;

    @media #{$tablet} {
      bottom: 116px;

      margin-bottom: 60px;
    }

    @media #{$desktop} {
      position: static;

      justify-self: end;
      grid-column: 2 / 3;
      grid-row: 1 / 5;
      width: 525px;
      margin-bottom: 0;
    }
  }

  //.contacts__btn-wrapper
  &__btn-wrapper {
    display: flex;
    flex-basis: 100%;
    justify-content: center;

    @media #{$desktop} {
      justify-self: start;
      grid-row: 4;
    }
  }

  //.contacts__btn
  &__btn {
  }
}
