.header {
  $header-height: 80px;

  position: sticky;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: $header-height;

  border-bottom: 1px solid $color-light-2;
  background-color: $bg-color-base;

  z-index: 5;

  @media #{$tablet} {
    position: static;

    height: auto;

    background-color: $color-light-4;
  }

  &::after {
    content: '';

    position: absolute;
    top: 0;

    display: block;
    width: 100%;
    height: $header-height;

    background-color: $bg-color-base;
    border-bottom: 1px solid $color-light-2;

    z-index: 5;
    @media #{$tablet} {
      display: none;
    }
  }

  &__navigation {
    @media #{$tablet} {
      max-width: $container-width;
      margin: 0 auto;
    }
  }

  &__logo {
    display: flex;
    z-index: 10;

    @media #{$tablet} {
      display: none;
    }
  }

  &__mmt {
    position: absolute;
    top: 20px;
    right: 20px;

    z-index: 10;
    @media #{$tablet} {
      display: none;
    }
  }
}
